body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

.guildgoodswarning1 {
    background-color: #78281F !important;
}
.guildgoodswarning2 {
    background-color: #943126 !important;
}
.guildgoodswarning3 {
    background-color: #B03A2E !important;
}
.guildgoodswarning4 {
    background-color: #CB4335 !important;
}
.guildgoodswarning5 {
    background-color: #E74C3C !important;
}
.guildgoodswarning6 {
    background-color: #EC7063 !important;
}
.guildgoodswarning7 {
    background-color: #F1948A !important;
}
.guildgoodswarning8 {
    background-color: #F5B7B1 !important;
}
.guildgoodswarning9 {
    background-color: #FADBD8 !important;
}

p.otherstats {
    text-align: left;
    font-size: 16px;
}

p.updatedate {
    text-align: left;
    font-size: 14px;
    background-color: lightblue;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

@media (max-width: 767.98px) {
    .sidebar {

        top: 11.5rem;
        padding: 0;
    }
}

.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #0d6efd;
}