{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Era</th>
    <th>Members Count</th>
    <th>Attack</th>
    <th>Defense</th>
    <th>Attack+Defence</th>
    <th>Era Avg Att/Def</th>
    <th>Goods</th>
    <th>Average Goods/Era</th>
  </tr>
  </thead>
  <tbody>
  {% for player in players %}
  <tr>
    <td>{{ player.rank }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.era }}</td>
    <td>{{ player.players_count_era }}</td>
    <td>{{ player.attack }}</td>
    <td>{{ player.defence }}</td>
    <td>{{ player.attdef }}</td>
    <td>{{ player.era_avg_attdef }}</td>
    <td>{{ player.goods }}</td>
    <td>{{ player.era_avg_goods }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<p class="updatedate">Updated: {{ update_date }}</p>

<p class="otherstats">
  Guild Goods Per Member: {{ guild_average_guild_goods }}
</p>


{% endblock %}

{% block scripts %}
<script>
  $.fn.dataTable.ext.type.order['playerera-pre'] = function ( d ) {
    switch ( d ) {
      case 'StoneAge':    return 1;
      case 'BronzeAge': return 2;
      case 'IronAge':   return 3;
      case 'EarlyMiddleAge': return 4;
      case 'HighMiddleAge':   return 5;
      case 'LateMiddleAge':   return 6;
      case 'ColonialAge':   return 7;
      case 'IndustrialAge':   return 8;
      case 'ProgressiveEra':   return 9;
      case 'ModernEra':   return 10;
      case 'PostModernEra':   return 11;
      case 'ContemporaryEra':   return 12;
      case 'TomorrowEra':   return 13;
      case 'FutureEra':   return 14;
      case 'ArcticFuture':   return 15;
      case 'VirtualFuture':   return 16;
      case 'OceanicFuture':   return 17;
      case 'SpaceAgeMars':   return 18;
      case 'SpaceAgeAsteroidBelt':   return 19;
      case 'SpaceAgeVenus':   return 20;
    }
    return 0;
  };

  $(document).ready(function () {
    $('#data').DataTable({
     "iDisplayLength": 100,
      columns: [
        {orderable: true, searchable: false},
        {orderable: true, searchable: true},
        {orderable: true, searchable: true},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false}],
      "createdRow": function( row, data, dataIndex ) {
       // Guild good column is 8
        if ( data[8] <2357 ) {
          $(row).find('td:eq(8)').addClass('red');
        }
      },
      "columnDefs": [
        {"className": "dt-center", "targets": "_all"},
        // Era column is 2
        {"type": "playerera", "targets": 2}
      ]
    });
  });
</script>
{% endblock %}