{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Era</th>
    <th>Members Count</th>
    <th>Goods</th>
    <th>Average Goods/Era</th>
  </tr>
  </thead>
  <tbody>
  {% for player in players %}
  <tr>
    <td>{{ player.rank }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.era }}</td>
    <td>{{ player.players_count_era }}</td>
    <td>{{ player.goods }}</td>
    <td>{{ player.era_avg_goods }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<p class="updatedate">Updated: {{ update_date }}</p>

<p class="otherstats">
  Total Guild Goods Daily: <b>{{ total_guild_goods }}</b><br/>
  Guild Goods Per Member: <b>{{ guild_average_guild_goods }}</b>
</p>


{% endblock %}

{% block scripts %}
<script>
  $.fn.dataTable.ext.type.order['playerera-pre'] = function ( d ) {
    switch ( d ) {
      case 'StoneAge':    return 1;
      case 'BronzeAge': return 2;
      case 'IronAge':   return 3;
      case 'EarlyMiddleAge': return 4;
      case 'HighMiddleAge':   return 5;
      case 'LateMiddleAge':   return 6;
      case 'ColonialAge':   return 7;
      case 'IndustrialAge':   return 8;
      case 'ProgressiveEra':   return 9;
      case 'ModernEra':   return 10;
      case 'PostModernEra':   return 11;
      case 'ContemporaryEra':   return 12;
      case 'TomorrowEra':   return 13;
      case 'FutureEra':   return 14;
      case 'ArcticFuture':   return 15;
      case 'VirtualFuture':   return 16;
      case 'OceanicFuture':   return 17;
      case 'SpaceAgeMars':   return 18;
      case 'SpaceAgeAsteroidBelt':   return 19;
      case 'SpaceAgeVenus':   return 20;
    }
    return 0;
  };

  function between(x, max, min) {
    return x >= min && x <= max;
  }

  $(document).ready(function () {
    $('#data').DataTable({
     "iDisplayLength": 100,
      columns: [
        {orderable: true, searchable: false},
        {orderable: true, searchable: true},
        {orderable: true, searchable: true},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false}],
      "createdRow": function( row, data, dataIndex ) {
       // Guild good column is 8
        if (between(data[8], 2360, 2260)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning9');
        }
        else if (between(data[8], 2259, 2159)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning8');
        }
        else if (between(data[8], 2158, 2058)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning7');
        }
        else if (between(data[8], 2057, 1957)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning6');
        }
        else if (between(data[8], 1956, 1856)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning5');
        }
        else if (between(data[8], 1855, 1755)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning4');
        }
        else if (between(data[8], 1754, 1654)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning3');
        }
        else if (between(data[8], 1653, 1453)) {
          $(row).find('td:eq(8)').addClass('guildgoodswarning2');
        }
        else if (data[8] < 1453)
        {
          $(row).find('td:eq(8)').addClass('guildgoodswarning1');
        }
      },
      "columnDefs": [
        {"className": "dt-center", "targets": "_all"},
        // Era column is 2
        {"type": "playerera", "targets": 2}
      ]
    });
  });
</script>
{% endblock %}