{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Era</th>
    <th>Attack</th>
    <th>Defense</th>
    <th>Attack+Defence</th>
    <th>Era Avg Att/Def</th>
    <th>Goods</th>
    <th>Era Avg Goods</th>
  </tr>
  </thead>
  <tbody>
  {% for player in players %}
  <tr>
    <td>{{ player.rank }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.era }}</td>
    <td>{{ player.attack }}</td>
    <td>{{ player.defence }}</td>
    <td>{{ player.attdef }}</td>
    <td>{{ player.era_avg_attdef }}</td>
    <td>{{ player.goods }}</td>
    <td>{{ player.era_avg_goods }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br>
<table id="era_count_table" class="table table-striped">
  <thead>
  <tr>
    <th>Era</th>
    <th>Players</th>
  </tr>
  </thead>
  <tbody>
  {% for era in eras %}
  <tr>
    <td>{{ era.era_name }}</td>
    <td>{{ era.player_count }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<p class="updatedate">Updated: {{ update_date }}</p>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable({
     "iDisplayLength": 100,
      columns: [
        {orderable: true, searchable: false},
        {orderable: true, searchable: true},
        {orderable: true, searchable: true},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false},
        {orderable: true, searchable: false}],
      "createdRow": function( row, data, dataIndex ) {
        if ( data[7] <2357 ) {
          $(row).find('td:eq(7)').addClass('red');
        }
      },
      "columnDefs": [
        {"className": "dt-center", "targets": "_all"}
      ]
    });

    $('#era_count_table').DataTable(
      {
        searching: false, paging: false, info: false,
        "columnDefs": [
          {"className": "dt-center", "targets": "_all"}
        ]
      });
  });
</script>
{% endblock %}